.sidebar {
  height: 100vh; /* Sidebar chiếm toàn chiều cao màn hình */
  display: flex;
  flex-direction: column;
}

/* TOP chiếm 1/4 */
.sidebar-top {
  flex: 1;
  background-color: #221abe; /* Màu nền phần top */
  padding: 10px 25px;
 
}

/* BOTTOM chiếm 3/4 */
.sidebar-bottom {
  color: white;
  flex: 16;
  background-color: #353549; /* Màu nền phần bottom */
  padding:10px 40px;
  overflow-y: auto; /* Nếu nội dung nhiều thì cuộn */
}

.logo {
  font-size: 5px;
  font-weight: bold;
  color: #6a1e1e;
}